*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared section */
.container{
    max-width: 1360px;
    margin: 0 auto;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn:hover {
    background-color: #FFFFFF;
    color: #30B868;
    border: 2px solid #30B868;
}

/* Navigation section */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-bottom: 2px solid transparent; 
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.menu ul li a:hover {
    color: #006A50;
    border-bottom: 2px solid #006A50;
}
/* Banner Section */
