*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* Shared section */
.container{
    max-width: 1360px;
    margin: 0 auto;
}

.btn1 {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #30B868;
    padding: 12px 16px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease;
}

.btn1:hover {
    background-color: transparent;
    color: #30B868;
    border: 2px solid #30B868;
}

.btn2 {
    background-color: transparent;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    padding: 11px 15px;
    transition: background-color 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.btn2:hover{
    background-color: #30B868;
    color: #FFFFFF;
    border: none;
}

.heading_text h2{
    color: #001931;
    font-size: 48px;
    font-weight: bold;
}

.heading_text p{
    font-size: 16px;
    font-weight: 20px;
    color: #627382;
    margin-top: 16px;
}

/* Navigation section */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
}
.menu ul{
    display: flex;
    list-style-type: none;
    gap: 32px;
}
.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    border-bottom: 2px solid transparent; 
    transition: color 0.5s ease, border-bottom 0.5s ease;
}

.menu ul li a:hover {
    color: #006A50;
    border-bottom: 2px solid #006A50;
}
/* Banner Section */
#banner{
    background-image: url('../assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    padding: 120px 0;
    text-align: center;
}

.banner_section h5{
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    background-color: #FFFFFF;
    border-radius: 30px;
    display: inline;
    padding: 8px 12px;
}
.banner_section h5 .sp1{
    width: 16px;
    height: 16px;
    display: inline-block;        
    border-radius: 50%;          
    background: radial-gradient(circle, #30B868 0%, #A8E6B3 100%); 
    margin-right: 8px;          
    vertical-align: middle;  
}

.banner_section h1{
    font-size: 72px;
    color: #FFFFFF;
    margin: 15px 0;
    text-transform: capitalize;
    line-height: 80px;
}
.banner_section h1 .sp2{
    color: #30B868;
}
.banner_section p{
    line-height: 24px;
    font-size: 18px;
    color: #FFFFFF;
    padding: 0 330px;
    margin-bottom: 30px;
}
.banner_btn{
    display: flex;
    gap: 16px;
    justify-content: center;
    margin-bottom: 60px;
}
.banner_btn .btn1 img{
    vertical-align: middle; 
}

/* Notes Section */
#notes{
    padding: 70px 0;
}
.notes_section {
    text-align: center;

}

.notes_item{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.note_card{
    padding: 70px 24px;
    border: 1px solid #605f5f80;
    margin-top: 40px;
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.5s ease;
}
.note_card:hover{
    background-color: #f9555536;
}
.note_card img{
    background-color: #F95555;
    padding: 15px;
    border-radius: 50%;
    margin-bottom: 16px;
}

.note_card h3{
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note_card p{
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}